<nav class="navbar bg-secondary pt-3 pb-0 pb-md-3">
    <div class="nav container d-flex flex-column ps-0 pe-0 d-md-flex flex-md-row justify-content-md-between text-center">
        <a class="logo pt-3" href="../pages/index.html"><img src="../assets/images/logo-white.png" alt="logo"></a>
        <ul class="nav-menu list-unstyled d-flex flex-wrap flex-md-nowrap align-items-center mb-0">
            <li class="nav-menu-item"><a class="fs-md-8 text-center text-light ps-md-9 pb-md-2 mt-md-2" href="#">系列鏡框</a></li>
            <li class="nav-menu-item"><a class="fs-md-8 text-center text-light ps-md-9 pb-md-2 mt-md-2" href="../pages/location-map.html">門市據點</a></li>
            <li class="nav-menu-item"><a class="fs-md-8 text-center text-light ps-md-9 pb-md-2 mt-md-2" href="#">部落格</a></li>
            <li class="nav-menu-item"><a class="fs-md-8 text-center text-light ps-md-9 pb-md-2 mt-md-2" href="../pages/faq.html">常見問題</a></li>
        </ul>
    </div>
</nav>