.nav {
  max-width: 100%;
}
.nav .logo {
  display: block;
  width: 80px;
  @include pad {
    margin: 0 0 16px 16px;
  }
}

.nav-menu-item {
  height: 100%;
  @include pad {
    width: 50%;
    margin-right: 0px;
    border: 1px solid #fff;
  }
  & a{
     height: 100%;
     display: block;
     padding: 8px 32px;
     @include pad{
      padding: 12px 0 !important;
     }
  }
}

.nav-menu li a:hover {
  opacity: 0.8;
}
.nav-menu-item:last-child .nav-menu-item a{
  padding-right: 0;
}