<%- include('./layout/head'); -%>
<%- include('./layout/header'); -%>
<div class="container pt-7">
    <h1 class="border-start border-8 ps-3 border-secondary fs-7 fs-md-2 fw-bold mb-5">門市據點</h1>
    <div class="select-menu mb-4 d-flex align-items-center">
        <p class="fs-md-7 me-2">選擇分店</p>
        <select class="form-select form-select-lg mb-3 rounded-0 custom-select-padding" aria-label=".form-select-sm select example" style="opacity: 0.75;">
            <option selected class="fs-11">台北中山旗艦店</option>
            <option value="1">台北中山旗艦店</option>
            <option value="2">台北中山旗艦店</option>
        </select>
    </div>
   
    <div class="store row d-md-flex justify-content-center">
        <div class="store-card col-md-5 d-flex flex-md-column row mb-sm-7 mb-md-9">
            <img class="store-pic col-sm-6 col-md-12 img-fluid" src="../assets/images/store-1.png" alt="台北中山旗艦店照片">
            <div class="col-sm-6 col-md-12 location-content ">
                <h2 class="fs-7 fw-normal p-2 ps-4 border">台北中山旗艦店</h2>
                <div class="location">
                    <ul class="store-inf list-unstyled border ps-4 pe-4 pt-3 pb-3 mb-4 mb-md-0">
                        <li class="d-flex align-items-center">
                            <span class="text-info fs-11 material-symbols-outlined pe-13">
                            call
                            </span>
                            電話：(02)000-1234
                        </li>
                        <li class="d-flex align-items-center">
                            <span class="text-info fs-11 material-icons-outlined pe-13">
                            schedule
                            </span>
                            營業時間：10:00-21:00
                        </li>
                        <li class="d-flex align-items-center">
                            <span class="text-info fs-11 material-symbols-outlined pe-13">
                            location_on
                            </span>
                            地址：台北市中山區南京東路25巷2-1號
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            <img class="map col-12 col-md-7 mb-9" src="../assets/images/2020-02-13 16.35.44.png" alt="台北中山旗艦店在地圖上的位置">
    </div>
    





</div>
    
    <%- include('./layout/footer'); -%>
    
        <script type="module" src="../main.js"></script>
        </body>
    
        </html>